code {
	color: #333;
}

.highlight code,.highlight pre
{
	background-color: #f8f8f8;
	color: #333;
}
.highlight .hll
{
	background-color: #f0f0f0;
}
.highlight .c
{
	color: #6a737d;
	font-style: italic;
}
.highlight .err
{
	background-color: #ffeef0;
	color: #cb2431;
}
.highlight .g
{
	color: #333;
}
.highlight .k
{
	color: #d73a49;
	font-weight: bold;
}
.highlight .l
{
	color: #005cc5;
}
.highlight .n
{
	color: #24292e;
}
.highlight .o
{
	color: #d73a49;
}
.highlight .x
{
	color: #005cc5;
}
.highlight .p
{
	color: #24292e;
}
.highlight .cm
{
	color: #6a737d;
	font-style: italic;
}
.highlight .cp
{
	color: #6a737d;
	font-style: italic;
}
.highlight .c1
{
	color: #6a737d;
	font-style: italic;
}
.highlight .cs
{
	color: #6a737d;
	font-weight: bold;
	font-style: italic;
}
.highlight .gd
{
	color: #cb2431;
	background-color: #ffeef0;
}
.highlight .ge
{
	color: #24292e;
	font-style: italic;
}
.highlight .gr
{
	color: #cb2431;
}
.highlight .gh
{
	color: #005cc5;
	font-weight: bold;
}
.highlight .gi
{
	color: #28a745;
	background-color: #f0fff4;
}
.highlight .go
{
	color: #586069;
}
.highlight .gp
{
	color: #24292e;
	font-weight: bold;
}
.highlight .gs
{
	color: #24292e;
	font-weight: bold;
}
.highlight .gu
{
	color: #6f42c1;
	font-weight: bold;
}
.highlight .gt
{
	color: #005cc5;
}
.highlight .kc
{
	color: #005cc5;
	font-weight: bold;
}
.highlight .kd
{
	color: #d73a49;
	font-weight: bold;
}
.highlight .kn
{
	color: #d73a49;
	font-weight: bold;
}
.highlight .kp
{
	color: #d73a49;
}
.highlight .kr
{
	color: #d73a49;
	font-weight: bold;
}
.highlight .kt
{
	color: #d73a49;
}
.highlight .ld
{
	color: #032f62;
}
.highlight .m
{
	color: #005cc5;
}
.highlight .s
{
	color: #032f62;
}
.highlight .na
{
	color: #6f42c1;
}
.highlight .nb
{
	color: #005cc5;
}
.highlight .nc
{
	color: #6f42c1;
	font-weight: bold;
}
.highlight .no
{
	color: #005cc5;
}
.highlight .nd
{
	color: #6f42c1;
}
.highlight .ni
{
	color: #005cc5;
}
.highlight .ne
{
	color: #005cc5;
	font-weight: bold;
}
.highlight .nf
{
	color: #6f42c1;
}
.highlight .nl
{
	color: #005cc5;
}
.highlight .nn
{
	color: #6f42c1;
}
.highlight .nx
{
	color: #24292e;
}
.highlight .py
{
	color: #24292e;
}
.highlight .nt
{
	color: #22863a;
	font-weight: bold;
}
.highlight .nv
{
	color: #e36209;
}
.highlight .ow
{
	color: #d73a49;
	font-weight: bold;
}
.highlight .w
{
	color: #bbbbbb;
}
.highlight .mf
{
	color: #005cc5;
}
.highlight .mh
{
	color: #005cc5;
}
.highlight .mi
{
	color: #005cc5;
}
.highlight .mo
{
	color: #005cc5;
}
.highlight .sb
{
	color: #032f62;
}
.highlight .sc
{
	color: #032f62;
}
.highlight .sd
{
	color: #032f62;
}
.highlight .s2
{
	color: #032f62;
}
.highlight .se
{
	color: #032f62;
}
.highlight .sh
{
	color: #032f62;
}
.highlight .si
{
	color: #032f62;
}
.highlight .sx
{
	color: #032f62;
}
.highlight .sr
{
	color: #032f62;
}
.highlight .s1
{
	color: #032f62;
}
.highlight .ss
{
	color: #032f62;
}
.highlight .bp
{
	color: #005cc5;
}
.highlight .vc
{
	color: #e36209;
}
.highlight .vg
{
	color: #e36209;
}
.highlight .vi
{
	color: #e36209;
}
.highlight .il
{
	color: #005cc5;
}