<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Normalisation CSS -->
        <link rel="stylesheet" href="/css/normalize.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/surf.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

    </head>
    <body>

      <div id="navigation">
        <a href="http://www.codesurfers.net/">~/</a>
        <a href="/posts/">articles</a>
        <a href="http://git.codesurfers.net/">code</a>
        <a href="/exercises/">exercises</a>
        <a href="/irc/">irc</a>
        <a href="/links/">links</a>
        <a href="/quotes/">quotes</a>
      </div>


      {{ content }}
      
      <!-- Footer goes here. Or does it? -->

    </body>
</html>
